@import "tailwindcss";

:root {
  --dark-color: #080808;
  --light-color: #f1f1f1;
  --lighter-color: #f8f8f8;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-dark-color: var(--dark-color);
  --color-light-color: var(--light-color);
  --color-lighter-color: var(--lighter-color);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--lighter-color);
  color: var(--dark-color);
  font-family: Arial, Helvetica, sans-serif;
}

